# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/

# Ignore build artifacts
build/
dist/
*.spec

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore IDE folders
.vscode/
.idea/

# Logs and other temp files
*.log
*.tmp
data/mods/
